.todoListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-radius: 25px;

  > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  button {
    padding: 0.5rem;
    border: 1px solid powderblue;
    border-radius: 15px;
    box-shadow: 2px 2px 0px 0px rgba(85, 202, 215, 0.6);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.699);
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-1px)
    }
  }
}

.completed {
  opacity: 0.5;
  background-color: #ffffff6d;
}
